<div id="<%= dom_id email %>">
  <p>
    <strong>email_address:</strong>
    <%= email.email_address %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= email.comment %>
  </p>

  <%= link_to "Destroy this email", [email.person, email], data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %>
</div>
